* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.animation {
  width: 100px;
  height: 100px;
  animation: slide 4s linear infinite;
}

.svgAnimation {
  animation: sizeChange 4s infinite;
}

canvas {
  border: 1px solid #999;
}

@keyframes slide {
  0% {
    position: relative;
    left: 0%;
    background-color: red;
  }
  25% {
    position: relative;
    left: 25%;
    background-color: purple;
  }
  50% {
    position: relative;
    left: 50%;
    background-color: blue;
  }
  75% {
    position: relative;
    left: 75%;
    background-color: aqua;
  }
  100% {
    position: relative;
    left: 105%;
    background-color: green;
  }
}

@keyframes sizeChange {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 200% 200%;
  }
  100% {
    background-size: 100% 100%;
  }
}


